#new_spotcheck_modal.modal.fade{role: 'dialog'}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => 'modal', type: 'button'} &times;
        %h4.modal-title New Spotcheck
      .modal-body

        = simple_form_for @spotcheck do |f|
          = f.input :title

          .modal-footer
            =f.submit class: 'btn btn-primary'
            %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close