.activity-btns{
  margin-top: -4%;
}

.activity-form{
  margin-right: -5%;
}


.inline{
  display: inline-block;
}

.small-form{
  width: 30%;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

#logo_link{
  text-decoration: none !important;
}

#new-activity-input{
  margin-left: 12px;
}