.inline{
  display: inline-block;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

#logo_link{
  text-decoration: none !important;
}

