

.activity-btns{
  margin-top: -4%;
}

.activity-form{
  margin-right: -5%;
}

.center{
  margin: 0 auto;
}

.center-text{
  text-align: center;
}

.hours_worked_column, .hours_left_column{
  width: 9em;
}

.inline{
  display: inline-block;
}

.num-input{
  text-align: center;
  width: 80px;
  margin: 0 auto;
}

.small-form{
  width: 30%;
}


.spot_table{
  width: 100%;
}

.work_accomplished{
  height: 10em;
}

.work_accomplished_column{
  width: 30em;
}


#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  padding-top: 9px;
  font-weight: bold;
}

#logo_link{
  text-decoration: none !important;
}

#new-activity-input{
  margin-left: 12px;
}