.container
  %h1 Activities:
  %table.table.table-bordered.table-striped.spot_table
    %thead
      %tr
        %th Activity:
        %th Spotcheck(s):
        %th Assigned to:
        %th Hours worked:
        %th Hours left:
        %th.delete_column Delete:
    %tbody
      - @activities.each do |activity|
        = render activity