.navbar.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      %li#spotchecks_link= link_to 'Spotchecks', root_path
      %li#activities_link= link_to 'Activities', activities_path
      -if current_user
        %li= link_to 'Sign Out', destroy_user_session_path